aiml==0.8.6
certifi==2018.1.18
chardet==3.0.4
ChatterBot==0.8.7
chatterbot-corpus==1.1.2
click==6.7
defusedxml==0.5.0
Django==2.2.13
django-allauth==0.35.0
django-ckeditor==5.4.0
django-crispy-forms==1.7.0
django-js-asset==1.1.0
django-markdown==0.8.4
django-markdown-deux==1.0.5
django-pagedown==1.0.4
djangorestframework==3.8.2
Flask==0.12
future==0.16.0
idna==2.6
include==0.2.1
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
markdown2==2.3.5
MarkupSafe==1.0
mathparse==0.1.1
nltk==3.3
oauthlib==2.0.6
Pillow==5.0.0
PyJWT==1.5.3
pymongo==3.7.1
python-dateutil==2.6.1
python-twitter==3.4.2
python3-openid==3.1.0
pytz==2017.3
PyYAML==3.13
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
SQLAlchemy==1.2.10
urllib3==1.22
Werkzeug==0.14.1
