.portfolio-banner{
  background-image: url('../img/bg-3.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 600px;
}
.project-banner{
  background-image: url('../img/bg-10.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 650px;
}
nav{
  padding: 1rem !important;
}

.navbar-brand{
  font-size: 2rem !important;
}

nav ul li{
  margin-left: 10px;
}

nav ul li a{
  font-weight: bold !important;
}

nav ul li:hover a{
  color: #f0ad4e !important;
}

nav ul li .active{
  color: #f0ad4e !important;
}

.portfolioset{
  padding-top: 250px;
  box-sizing: border-box;
}

.portfolioset h2{
  font-size: 42px;
  font-weight: bold;
}

.portfolioset span{
  font-size: 16px;
}


/*............section-main section......*/
.section-main{
  padding: 100px 0 60px;
}
.single-spec h4 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.single-spec p {
    color: #666;
    line-height: 26px;
    font-size: 13px;
    margin-top: 10px;
}

.carousel-indicators li{
  background-color: #343a40 !important;
}
.carousel-indicators .active{
  background-color: #f0ad4e !important;
}

/*............footer section......*/
.back-to-top{
  position: fixed;
  display: none;
  bottom: 85px;
  right: 15px;
}

.footer{
  padding: 10px 0 3px;
}

.footer h6{
  line-height: 50px;
}



@media(min-width: 768px) and (max-width: 991px){
  .portfolioset span{
      font-size: 12px;
  }
}
@media(min-width: 575px) and (max-width: 767px){
  .portfolioset span{
      font-size: 12px;
  }

  .section-main .slider-img{
    margin-bottom: 30px;
  }
}
@media(min-width: 480px) and (max-width: 574px){
  .portfolioset span{
      font-size: 12px;
  }
  .section-main .slider-img{
    margin-bottom: 30px;
  }
}
@media(max-width: 479px){
  .portfolioset span{
      font-size: 12px;
  }

  .section-main .slider-img{
    margin-bottom: 30px;
  }
}
